@model ClientOS.Models.AcreditacionDetalle

@{
    ViewData["Title"] = "Index";
}

<h2>Detalle</h2>

<table class="table">
    <tr>
        <th>NumEmision</th>
        <th>montoCredito</th>
        <th>cantidadEstudiantes</th>
        <th>fechaTransmision</th>
    </tr>
    @foreach (var detalle in Model.detalles)
    {
        <tr>
            <td>@detalle.numEmision</td>
            <td>@detalle.montoCredito</td>
            <td>@detalle.cantidadEstudiante</td>
            <td>@detalle.fechaTransmision</td>
        </tr>
    }
</table>

<h2>Acreditaciones</h2>
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>Matricula</th>
        <th>creditos</th>
        <th>aceptado</th>
        <th>costoTotal</th>
    </tr>
    @foreach (var acreditacion in Model.acreditaciones)
    {
    <tr>
        <td>@acreditacion.Matricula</td>
        <td>@acreditacion.creditos</td>
        <td>@acreditacion.aceptado</td>
        <td>@acreditacion.costoTotal</td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = acreditacion.Matricula })
        </td>
    </tr>
    }
</table>
