@model IEnumerable<WebServiceAppOS.Models.Detalle>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numEmision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.montoCredito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidadEstudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaTransmision)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numEmision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.montoCredito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidadEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaTransmision)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
